div#sticky-wrapper {
  div.site-logo {
    img {
      display: none;
      @extend .fadeOutDown;
    }
    img.logo-with-bg {
      display: inline;
      @extend .fadeInDown;
    }
  }
}

div#sticky-wrapper.is-sticky {
  div.site-logo {
    img {
      display: none;
      @extend .fadeOutUp;
    }

    img.transparent-logo {
      display: inline;
      @extend .fadeInUp;
    }
  }
}

header.site-navbar ul.site-menu li {
  font-size: 1.5rem;
  font-family: "mops"
}

div.site-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.border-highlight {
  border-color: $highlight !important;
}

.bg-highlight {
  background-color: $highlight !important;
}

div.work-text h3 {
  font-family: $font-family-sans-serif;
}

.color-brown {
  color: $brown;
}

.benefits-icon {
  color: $brown;
  font-size: 2rem;
  // width: 2rem;
  // background-color: #fafafa;
  // margin-bottom: 1.5rem;
  // border-radius: 50%;
  // padding: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem !important;
}

.benefits-icon-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: #fafafa;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}


